/target/
**/target/

**/*.rs.bk

.rustup/
.rust-analyzer/

*.profraw
*.profdata
coverage/

criterion/

bindings.rs


/vendor/bundle/

*.gem

.bundle/

/log/
/tmp/
db/*.sqlite3
db/*.sqlite3-journal
/public/system/
/public/uploads/

/cache/
tmp/
tmp/**/*

spec/reports/
spec/tmp/
test/tmp/
test/reports/

coverage/


.rbenv-version

.rvmrc
.ruby-gemset

.chruby-version

.tool-versions


.vscode/

/.idea/
*.iml

*.swp
*.swo

.DS_Store

*~

*.log
*.tmp
tmp/

