[package]
name = "aegis"
version = "0.1.0"
edition = "2024"

[dependencies]
dotenv = "0.15.0"
tokio-postgres = "0.7.15"
tokio = { version = "1.48.0", features = ["full"] }
[dependencies.uuid]
version = "1.18.1"
features = [
    "v4",
]
